/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    /* Variables */
    --background-color: #EAB22F;
    --black: #000;
    --black-light: #404040;
    --border-color: #BD8F24;
    --input-text-color: #523E10;
    --error-color: #BC4040;
    --white: #FFF;

    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    height: 100vh;
    width: 100vw;
}

.visible {
    visibility: visible !important;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.form {
    max-width: 430px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.form-title {
    color: var(--black);
    margin-bottom: 12px;
    font-weight: 700;
}

.form-wrapper {
    align-items: center;
    background-color: transparent;
    border: 2px solid var(--border-color);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 8px;
}

.form-wrapper.has-error {
    border-color: var(--error-color);
}

.form-input {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: var(--input-text-color);
    flex-grow: 1;
    padding: 20px 25px;
}

.form-input::placeholder {
    color: var(--input-text-color);
}

.form-submit {
    background-color: var(--black);
    border: none;
    border-radius: 12px;
    color: var(--white);
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    outline: none;
    padding: 20px 25px;
    transition: background-color 0.35s ease;
}

.form-submit:hover {
    background-color: var(--black-light);
}

.form-input:focus, .form-input:active, .form-submit:focus, .form-submit:active {
    border: none;
    box-shadow: none;
    outline: none;
}

.form-error {
    color: var(--error-color);
    display: block;
    font-size: 12px;
    font-weight: 700;
    padding: 10px 0;
    visibility: hidden;
}
